* {
  outline: none;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 404px 1fr 1fr 1fr;
  grid-template-rows: 14rem 10rem 20rem;
  grid-template-areas: 
    "movieCrawl Header    Header    Header" 
    "movieCrawl Buttons   Buttons   Buttons" 
    "movieCrawl Card-Area Card-Area Card-Area";
}

.movieCrawl {
  grid-area: movieCrawl;
}

.Header {
  grid-area: Header;
}

.Buttons {
  grid-area: Buttons;
}

.Card-Area {
  grid-area: Card-Area;
}