.movieCrawl {
  grid-area: movieCrawl;
  background-color: black;
  font-family: 'Poller One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #feda4a;
  margin: 0;
}