header {
  background-color: black;
  height: 100%;
  font-family: 'Poller One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: #feda4a;
  border: 2px solid #feda4a;
}